<nav class="fixed-top navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav navbar-nav-custom">
                <li class="nav-item px-2 active">
                    <a class="nav-link nav-link-custom text-uppercase" href="#">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link nav-link-custom text-uppercase" href="#">About</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link nav-link-custom text-uppercase" href="#">Team</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link nav-link-custom text-uppercase" href="#">Booking</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-custom">
                <li class="nav-item px-2 active">
                    <a class="nav-link nav-link-custom text-uppercase" href="#">Menu</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link nav-link-custom text-uppercase" href="#">Galerie</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link nav-link-custom text-uppercase" href="#">Events</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link nav-link-custom text-uppercase" href="#">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</nav>