    @media screen and (max-width: 992px) {
        .rectangle {
            display: none;
        }
        section {
            margin: 2em 0;
        }
        .offset-delete {
            margin-left: 0;
        }
        .text {
            padding: 0;
            width: 100%;
            &--right {
                padding: 0;
            }
        }
        .img {
            display: flex;
            justify-content: center;
            width: 100%;
            .img-item {
                margin: 0;
                width: 100%;
            }
        }
        .masterchef {
            padding: 1.5em 0;
        }
        .specialties{
            padding: 1.5em 0;
        }
        .private{
            padding: 1.5em 0;
        }
        .bottom--text {
            padding: 5px 0 5px 0;
        }
        .text--right {
            padding: 1em 0;
        }
        .order-reverse {
            flex-direction: column-reverse;
        }
    }

    @media screen and (max-width: 768px) {}

    @media screen and (max-width: 576px) {
        // MENU
        .vertical-scroll{
            overflow-y: scroll;
            height: 50vh;
        }
        .horizontal-scroll{
            overflow-x: scroll;
            padding: 0;
            margin-bottom: 0.5em;
        }
        .text-center{
            text-align: center;
        }
        .title-small{
            font-size: small;
            &:first-child{
                padding-top: 10px;
            }
        }
        // BOOKING
        .order-column{
            flex-direction: column;
        }
        .form-input {
            width: 100%;
            margin: 0 0 0.5em 0;
        }
        .form-input--rigth{
            margin-left: 0;
        }
        .form-choose {
            width: 100%;
            margin: 0 0 0.5em 0;
        }
        .input-width{
            width: 100%;
        }
        // MENU
        .food-specify{
            margin: 0.5em 0;
            font-size: 11px;
        }
        .menu-part{
            margin-bottom: 0.5em;
        }
        .menu-item {
            margin-bottom: 0;
        }
        // PRIVATE
        .private-text{
            display: none;
        }
        .bottom--text-private{
            font-size: 10px;
        }
        // CONTACT
        .contact-part{
            text-align: center;
            padding-right: 0;
        }
    }