* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: $fontFamily;
    font-size: $font;
}

//Global properties
.section {
    padding: 3em 0;
    width: 100%;
    &:first-child {
        padding: 0;
    }
}

footer {
    background: rgba(0, 0, 0, 0.9);
    color: $colorText;
    span {
        font-family: $fontBold;
    }
}
.first {
    background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) calc(20% + 1px), rgba(0,0,0,0.6) calc(20% + 1px), rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) calc(50% + 1px), rgba(0,0,0,0.6) calc(50% + 1px), rgba(0,0,0,0.6) 80%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) calc(80% + 1px), rgba(0,0,0,0.6) calc(80% + 1px), rgba(0,0,0,0.6) 100%), url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: cover;
    height: 100vh;
    color: #fff;
}
.header {
    letter-spacing: 7px;
    font-weight: bold;
}
.rectangle {
    width: 220px;
    height: 220px;
    background: transparent;
    border: 20px solid $colorOrange;
    border-radius: 4px;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 73%;
    &--left {
        left: -20%;
    }
}
.masterchef {
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: cover;
    padding: 3em 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) calc(20% + 1px), rgba(0,0,0,0.6) calc(20% + 1px), rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) calc(50% + 1px), rgba(0,0,0,0.6) calc(50% + 1px), rgba(0,0,0,0.6) 80%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) calc(80% + 1px), rgba(0,0,0,0.6) calc(80% + 1px), rgba(0,0,0,0.6) 100%), url('../img/specialtys-bg.png');
    color: $colorLight;
}
.bottom--text {
    color: $colorText;
    padding: 20px 0 0 0;
    opacity: 50%;
    span {
        font-weight: 900;
    }
}
.bottom--text-private{
    color: #fff;
    opacity: 50%;
    padding: 20px 0;
    span {
        font-weight: 900;
    }
}
.specialties {
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: cover;
    padding: 50px 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) calc(20% + 1px), rgba(0,0,0,0.6) calc(20% + 1px), rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) calc(50% + 1px), rgba(0,0,0,0.6) calc(50% + 1px), rgba(0,0,0,0.6) 80%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) calc(80% + 1px), rgba(0,0,0,0.6) calc(80% + 1px), rgba(0,0,0,0.6) 100%), url('../img/specialtys-bg1.png');
    color: $colorLight;
}
.menu {
    margin: 3em 0;
}
.private {
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) calc(20% + 1px), rgba(0,0,0,0.6) calc(20% + 1px), rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) calc(50% + 1px), rgba(0,0,0,0.6) calc(50% + 1px), rgba(0,0,0,0.6) 80%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) calc(80% + 1px), rgba(0,0,0,0.6) calc(80% + 1px), rgba(0,0,0,0.6) 100%), url('../img/specialtys-bg1.png');
    color: $colorLight;
    margin-bottom: 0;
    padding: 50px 0 0 0;
}

.text {
    padding-right: 2em;
    &--right {
        padding-left: 2em;
        padding-right: 0;
    }
}
.img {
    display: flex;
    margin: 2em 0;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    .img-item {
        width: 100%;
        height: auto;
        position: relative;
    }
}
// TEXT PROPERTIES
.title-large{
    font-family: $fontBanny;
    font-size: 96px;
    position: relative;
    &::after {
        content: "";
        height: 5px;
        width: 59px;
        border-radius: 50px;
        background-color: $colorOrange;
        display: block;
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.title-medium {
    font-family: $fontBannyBold;
    padding-bottom: 1em;
    position: relative;
    font-size: 36px;
    &::after {
        content: "";
        height: 5px;
        width: 59px;
        border-radius: 50px;
        background-color: $colorOrange;
        display: block;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.title-small {
    font-family: $fontBanny;
    font-size: 17px;
    line-height: 1px;
}
.subtitle-small {
    font-family: $fontBold;
    font-size: 10px;
    letter-spacing: 7px;
}
.subtitle-original {
    font-family: $fontBold;
    padding-bottom: 1em;
    font-size: 18px;
}
// FORM ITEM'S PROPERTIES
.btn{
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 1em;
    font-family: $fontBold;
    &-book{
        width: 100%;
        border: 1px solid $colorOrange;
        background-color: $colorOrange;
    }
    &-explore{
        width: 100%;
        border: 1px solid $colorLight;
        background-color: transparent;
    }
}
.form {
    width: 100%;
    &-btn {
        width: calc(100% + 0.2em);
        border: 1px solid $colorOrange;
        background-color: $colorOrange;
        color: #fff;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 1em;
        font-family: $fontBold;
        &:hover{
            border: 1px solid $colorOrange;
            background-color: #fff;
            color: $colorOrange;
        }
    }
    &-input {
        height: 60px;
        background-color: $colorForm;
        border: 1px solid $colorForm;
        border-radius: 3px;
        font-size: 12px;
        margin: 0 0.2em 0.5em 0;
        opacity: 0.7;
        &::placeholder {
            color: $colorText;
        }
        &--right{
            margin: 0 0 0.5em 0.3em;
        }
    }

    &-choose {
        height: 60px;
        background-color: $colorForm;
        border: 1px solid $colorForm;
        border-radius: 3px;
        font-size: 12px;
        margin: 0 0 0.5em 0.3em;
        padding: 0 10px;
        color: $colorText;
        opacity: 0.7;
    }
    &-textarea {
        height: 120px;
        background-color: $colorForm;
        border: 1px solid $colorForm;
        border-radius: 3px;
        font-size: 12px;
        margin-bottom: 0.5em;
        resize: none;
        opacity: .7;
        padding: 8px 16px;
        &::placeholder {
            color: $colorText;
        }
    }
}
.input-width{
    width: 50%;
}
// MENU
.menu-item {
    color: #7e7d7d;
    font-size: 10px;
}
.menu-part{
    margin-bottom: 1.5em;
}
.food-specify {
    padding-right: 1em;
    border-right: $colorText 1px solid;
    font-family: $fontBold;
    color: $colorText;
    font-size: 14px;
    margin: 3em 0;
    &:last-child {
        border-right: none;
    }
}
// PRIVATE
.private-text {
    background-color: black;
    color: $colorLight;
    font-family: $fontBanny;
    transform: rotate(90deg);
    width: 95%;
    padding: 1em;
    position: absolute;
    z-index: 2;
    left: 15em;
    right: 0;
    top: 15.5em;
    margin: 0 auto;
    &--rotate {
        transform: rotate(270deg);
        left: -27em;
        right: 0;
    }
}
.private-img {
    width: 100%;
    height: auto;
}
// CONTACTS
.contact-part{
    padding-right: 3rem;
}
.item-color {
    color: $colorOrange;
}