* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: $fontFamily;
    font-size: $font;
}

//Global properties
section {
    margin: 3em 0;
    width: 100%;
    // overflow-x: hidden;
    &:first-child {
        margin: 0;
    }
}

.section {
    &__first {
        background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) calc(20% + 1px), rgba(0,0,0,0.6) calc(20% + 1px), rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) calc(50% + 1px), rgba(0,0,0,0.6) calc(50% + 1px), rgba(0,0,0,0.6) 80%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) calc(80% + 1px), rgba(0,0,0,0.6) calc(80% + 1px), rgba(0,0,0,0.6) 100%), url('../img/header-bg.png');
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: cover;
        height: 100vh;
    }
    &__header {
        letter-spacing: 7px;
        font-weight: bold;
    }
    &__text {
        padding-right: 2em;
        &--right {
            padding-left: 2em;
            padding-right: 0;
        }
    }
    &__img {
        display: flex;
        margin: 2em 0;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
        .img__item {
            width: 100%;
            height: auto;
            position: relative;
        }
        .rectangle {
            width: 220px;
            height: 220px;
            background: transparent;
            border: 20px solid $colorOrange;
            border-radius: 4px;
            box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
            // box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5) inset;
            position: absolute;
            z-index: 2;
            top: 28%;
            left: 73%;
            &--left {
                left: -20%;
            }
        }
    }
    &__masterchef {
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: cover;
        padding: 3em 0;
        background-image: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) calc(20% + 1px), rgba(0,0,0,0.6) calc(20% + 1px), rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) calc(50% + 1px), rgba(0,0,0,0.6) calc(50% + 1px), rgba(0,0,0,0.6) 80%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) calc(80% + 1px), rgba(0,0,0,0.6) calc(80% + 1px), rgba(0,0,0,0.6) 100%), url('../img/specialtys-bg.png');
        color: $colorLight;
    }
    &__bottom--text {
        color: $colorText;
        padding: 20px 0 0 0;
        opacity: 50%;
        span {
            font-weight: 900;
        }
    }
    &__bottom--text-private{
        color: #fff;
        opacity: 50%;
        padding: 20px 0;
        span {
            font-weight: 900;
        }
    }
    &__specialties {
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: cover;
        padding: 50px 0;
        background-image: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) calc(20% + 1px), rgba(0,0,0,0.6) calc(20% + 1px), rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) calc(50% + 1px), rgba(0,0,0,0.6) calc(50% + 1px), rgba(0,0,0,0.6) 80%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) calc(80% + 1px), rgba(0,0,0,0.6) calc(80% + 1px), rgba(0,0,0,0.6) 100%), url('../img/specialtys-bg1.png');
        color: $colorLight;
    }
    &__menu {
        margin: 3em 0;
    }
    &__private {
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: cover;
        background-image: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 20%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0.1) calc(20% + 1px), rgba(0,0,0,0.6) calc(20% + 1px), rgba(0,0,0,0.6) 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) calc(50% + 1px), rgba(0,0,0,0.6) calc(50% + 1px), rgba(0,0,0,0.6) 80%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) calc(80% + 1px), rgba(0,0,0,0.6) calc(80% + 1px), rgba(0,0,0,0.6) 100%), url('../img/specialtys-bg1.png');
        color: $colorLight;
        margin-bottom: 0;
        padding: 50px 0 0 0;
    }
}

.title__medium {
    font-family: $fontBannyBold;
    padding-bottom: 1em;
    position: relative;
    &::after {
        content: "";
        height: 5px;
        width: 59px;
        border-radius: 50px;
        background-color: $colorOrange;
        display: block;
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.title__small {
    font-family: $fontBanny;
    font-size: 17px;
    line-height: 1px;
}

.subtitle__original {
    font-family: $fontBold;
    padding-bottom: 1em;
}

.form__btn {
    width: 100%;
    border: 1px solid $colorOrange;
    background-color: $colorOrange;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 1em;
    font-family: $fontBold;
}
.form__btn:hover{
    border: 1px solid $colorOrange;
    background-color: #fff;
    color: $colorOrange;
}
.form__input {
    height: 60px;
    width: 98%;
    background-color: $colorForm;
    border: 1px solid $colorForm;
    border-radius: 3px;
    font-size: 12px;
    margin: 0 0.2em 0.5em 0;
    opacity: 0.7;
    &::placeholder {
        color: $colorText;
    }
}
.form__input--rigth{
    margin-right: 0;
    margin-left: 0.3em;
}
.input__width{
    width: 50%;
}
.form__choose {
    height: 60px;
    width: 98%;
    background-color: $colorForm;
    border: 1px solid $colorForm;
    border-radius: 3px;
    font-size: 12px;
    margin: 0 0 0.5em 0.3em;
    padding: 0 10px;
    color: $colorText;
    opacity: 0.7;
}
.menu__item {
    color: #7e7d7d;
    font-size: 10px;
}
.menu__part{
    margin-bottom: 1.5em;
}
.food__specify {
    padding-right: 1em;
    border-right: $colorText 1px solid;
    font-family: $fontBold;
    color: $colorText;
    font-size: 14px;
    margin: 3em 0;
    &:last-child {
        border-right: none;
    }
}

.private__text {
    background-color: black;
    color: $colorLight;
    font-family: $fontBanny;
    transform: rotate(90deg);
    width: 95%;
    padding: 1em;
    position: absolute;
    z-index: 2;
    left: 15em;
    right: 0;
    top: 15.5em;
    margin: 0 auto;
    &--rotate {
        transform: rotate(270deg);
        left: -27em;
        right: 0;
    }
}

.private__img {
    width: 100%;
    height: auto;
}

footer {
    background: rgba(0, 0, 0, 0.9);
    color: $colorText;
    span {
        font-family: $fontBold;
    }
}

.form__textarea {
    height: 120px;
    width: 100%;
    background-color: $colorForm;
    border: 1px solid $colorForm;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 0.5em;
    resize: none;
    opacity: .7;
    padding: 8px 16px;
    &::placeholder {
        color: $colorText;
    }
}

.contact__part{
    padding-right: 3rem;
}
.item__color {
    color: $colorOrange;
}


.first {}