$fontFamily: 'OpenSans',
sans-serif;
$fontBold: 'OpenSansBold',
sans-serif;
$fontBanny: 'Banny',
sans-serif;
$fontBannyBold: 'BannyBold',
sans-serif;
$font: 14px;
$fontSubTitle: 36px;
$fontTitle: 96px;
$colorLight: #fff;
$colorDark: #000;
$colorOrange: #E8C300;
$colorForm: #E5E5E5;
$colorText: #333;

